{
  "extends": "eslint-config-egg",
  "rules": {
    "array-bracket-spacing": 0,
    "no-debugger": 0,
    "arrow-parens": ["error", "as-needed"],
    "strict": 0
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
